@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  min-height: 100%;
  min-width: 1280px;
  margin: 0;
}

.wrapper {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

/* навигация  */
.header_navigation {
  display: flex;
  padding: 0 70px;
  gap: 28px;
  min-height: 64px;
}

.navigation-logo-link {
  margin-bottom: -6px;
  z-index: 1;
  transition: opacity 250ms ease-in-out;
}

.header-navigation-logo {
  display: block;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 550px;
}

.navigation-list-user {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 210px;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
}

.navigation-list-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
  padding: 18px 16px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
  transition: color 250ms ease-in-out;
}

.navigation-user-link {
  background-color: #000000;
  width: 44px;
  height: 54px;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: background-color 250ms ease-in-out;
}

.navigation-user-search {
  mask-image: url("../images/search.svg");
}

.navigation-user-favorite {
  mask-image: url("../images/favorite.svg");
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.brown-button {
  background-color: #756157;
}

.navigation-button {
  padding: 8px 34px;
  margin-left: 20px;
  display: block;
}

.brown-button:hover,
.brown-button:focus-visible {
  background-color: #615048;
}

.brown-button:active {
  color: #756157;
}

.button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 15px;
  bottom: -3px;
  height: 2px;
  background-color: #756157;
  z-index: 1;
}

.navigation-link:hover,
.navigation-link:focus-visible {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-logo-link:hover,
.navigation-logo-link:focus {
  opacity: 0.8;
}

.navigation-logo-link:active {
  opacity: 0.6;
}

.navigation-user-link:hover,
.navigation-user-link:focus {
  background-color: #756157;
}

.navigation-user-link:active {
  background-color: rgba(117, 97, 87, 0.3);
}

/* блок-герой  */
.hero-section {
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #bcdfe4;
  min-height: 485px;
  padding-top: 51px;
  text-align: center;
  position: relative;
  color: #ffffff;
}

.hero-section::after {
  content: "";
  display: block;
  height: 57px;
  width: 1200px;
  position: absolute;
  bottom: 0;
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* текст */
.main-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 0;
}

.advantages-title {
  padding: 69px 0;
  margin-bottom: 21px;
}

.advantages-title .main-title {
  margin-bottom: 25px;
}

.main-description {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 54px;
}

.advantages-title .main-description {
  margin-bottom: 0;
}

.advantages-list,
.main-advantages,
.main-search,
.main-subscribe,
.special-main-subscribe {
  text-align: center;
}

.main-text {
  padding: 64px 0;
}

.main-text .main-description {
  margin: 0;
}

/* плитки  */
.advantages-list-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-list-item,
.recomendation-list-item {
  width: 400px;
  flex-grow: 1;
}

.advantages-list-item-wide {
  display: flex;
  min-width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-list-item-wide .advantages-text {
  width: 400px;
}

.advantages-list-item-wide .advantages-list-title {
  color: #ffffff;
}

.advantages-list-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-text {
  padding: 102px 85px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 62px;
}

.advantages-text-light {
  padding: 113px 82px;
}

.advantages-text p {
  margin: 0;
}

.advantages-img {
  display: block;
  object-fit: cover;
  height: 100%;
}

.dark-tile {
  background-color: rgba(131, 179, 211, 0.2);
}

.recomendation-list-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* полоска-разделитель */
.advantages-list-title::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 30px;
}

.advantages-text-light .advantages-list-title::after {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 29px
}

.recomendation-list-item .advantages-list-title::after {
  content: none;
}

/* оформление плиток с иконками */
.recomendation-list-item {
  background-repeat: no-repeat;
}

.recomendation-list-title::before {
  content: "";
  width: 75px;
  height: 72px;
  display: block;
  margin: 0 auto 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.recomendation-title-food::before {
  background-image: url("../images/food.svg");
}

.recomendation-title-housing::before {
  background-image: url("../images/housing.svg");
}

.recomendation-title-gifts::before {
  background-image: url("../images/gifts.svg");
  width: 65px;
  height: 76px;
  margin: 0 auto 28px;

}

.recomendation-list-title {
  margin-bottom: 0;
}

.recomendation-text {
  padding: 80px 85px 81px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* блок поиска  */
.main-search {
  padding: 96px 304px;
  text-align: center;
}

.main-search-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  max-width: 390px;
  display: inline-block;
}

/* блок подписки */
.main-subscribe {
  padding: 96px 258px 104px;
}

.special-main-subscribe {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #999387;
}

.special-main-subscribe .main-title {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
}

.subscribe-email {
  font-family: inherit;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  border: none;
  width: 452px;
  font-size: inherit;
  line-height: 24px;
  padding: 14px 20px;
  transition: background-color 250ms ease-in-out;
}

.subscribe-button {
  background-color: #82b3d3;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-email:hover,
.subscribe-email:focus-visible {
  background-color: #e6e6e6;
}

.subscribe-button:hover,
.subscribe-button:focus-visible {
  background-color: #68a2ca;
}

.subscribe-button:active {
  color: #82b3d3;
}

/* футер */
.footer {
  display: flex;
  padding: 34px 70px 28px;
  justify-content: space-between;
  min-height: 120px;
  gap: 80px;
  align-items: center;
}

.footer-social-list {
  display: flex;
  list-style: none;
  max-width: 145px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-social-link {
  width: 47px;
  height: 40px;
  display: block;
  padding: 8px 12px;
  background-color: #82b3d3;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: background-color 250ms ease-in-out;
}

.footer-social-vk {
  mask-image: url("../images/vkontakte.svg");
}

.footer-social-tg {
  mask-image: url("../images/telegram.svg");
}

.footer-social-yt {
  mask-image: url("../images/youtube.svg");
}

.footer-social-link:hover,
.footer-social-link:focus-visible {
  background-color: #68a2ca;
}

.footer-social-link:active {
  background-color: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  max-width: 500px;
  padding-top: 3px;
  transition: color 250ms ease-in-out;
}

.footer-phone:hover,
.footer-phone:focus-visible {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.academy-logo-link {
  display: block;
  color: #000000;
  transition: color 250ms ease-in-out;
}

.academy-logo {
  display: block;
}

.academy-logo-link:hover,
.academy-logo-link:focus-visible {
  color: #756157;
}

.academy-logo-link:active {
  color: rgba(117, 97, 87, 0.3);
}

/* catalog */
.catalog-main-filter {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #6b7577;
  padding: 35px 70px 70px;
}

.catalog-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

/* хлебные крошки */
.breadcrumbs-list {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 40px;
  min-width: 150px;
}

.breadcrumbs-list-link {
  width: 20px;
  height: 20px;
  background-image: url("../images/home.svg");
  display: block;
  background-position: left;
  background-repeat: no-repeat;
  transition: opacity 250ms ease-in-out;
}

.breadcrumbs-list-link:hover {
  opacity: 0.6;
}

.breadcrumbs-list-link:active {
  opacity: 0.4;
}

.breadcrumbs-hotels::before {
  content: "";
  width: 8px;
  height: 18px;
  display: block;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumbs-hotels {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* форма */
.main-filter-form {
  display: flex;
  gap: 70px;
}

.main-filter-form fieldset {
  border: 0;
  padding: 0;
}

.radiobuttons-list,
.checkbox-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
  padding-left: 1px;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 16px;
}

.form-label:hover {
  color: rgba(255, 255, 255, 0.6);
}

.form-label:active {
  color: rgba(255, 255, 255, 0.4);
}

.form-checkbox,
.form-radiobutton {
  font-size: 18px;
  line-height: 23px;
  min-width: 150px;
  margin: 0;
}

.form-checkbox input,
.form-radiobutton input {
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: #000000;
}

.form-price-input {
  min-width: 288px;
  margin: 0;
  margin-left: 69px;
}

.input-price-row {
  display: flex;
  gap: 2px;
  position: relative;
  margin-bottom: 44px;
}

.price-input {
  width: 143px;
  padding: 12px 40px 12px 20px;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  border: none;
  background-color: #f2f2f2;
  -moz-appearance: textfield;
  transition: background-color 250ms ease-in-out;
}

.price-input:hover,
.price-input:focus-visible {
  background-color: #e6e6e6;
}

.price-input-low {
  border-radius: 4px 0 0 4px;
}

.price-input-high {
  border-radius: 0 4px 4px 0;
}

.price-input::placeholder {
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.price-input::-webkit-inner-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.label-price {
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  font-weight: 400;
  bottom: 13px;
}

.label-price-from {
  right: 165px;
}

.label-price-till {
  right: 20px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus-visible {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  border: 2px solid #83b3d3
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.buttons-list {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
}

.apply-button {
  background-color: #82b3d3;
  padding: 8px 50px;
  margin-bottom: 32px;
}

.reset-button {
  background: none;
  padding: 8px 57px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms ease-in-out;
}

.apply-button:hover,
.apply-button:focus-visible {
  background-color: #68a2ca;
}

.apply-button:active {
  color: #82b3d3;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.4);
}

.reset-button:disabled {
  color: rgba(255, 255, 255, 0.2);
}

/* сортировка результатов */
.catalog-main-results {
  padding: 50px 70px 60px;
}

.catalog-main-results-sorting {
  display: flex;
  margin-bottom: 39px;
}

.catalog-results-title {
  max-width: 338px;
  margin: 0;
  padding-top: 7px;
}

.sorting-select-list {
  font-family: inherit;
  font-size: inherit;
  background-color: #ffffff;
  color: #333333;
  padding: 7px 20px;
  width: 292px;
  height: 49px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 17px top 52%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin-left: 200px;
  transition: border 250ms ease-in-out;
}

.sorting-select-list:hover {
  border: 2px solid #68a2ca;
  outline: none;
}

.sorting-select-list:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.sorting-changes-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
  margin-left: auto;
  max-width: 216px;
}

.sorting-button {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  transition: border 250ms ease-in-out;
}

.active-sorting-change {
  border: 2px solid #000000;
}

.sorting-changes-bar {
  background-image: url("../images/tile-sorting.svg");
}

.sorting-changes-large {
  background-image: url("../images/large-sorting.svg");
}

.sorting-changes-sked {
  background-image: url("../images/list-sorting.svg");
}

.sorting-button:hover,
.sorting-button:active {
  border: 2px solid #000000;
}

.sorting-button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* карты гостиниц */
.results-cards {
  list-style: none;
  display: grid;
  gap: 18px 20px;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  margin-bottom: 79px;
}

.card {
  display: grid;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto 1fr repeat(3, min-content);
  gap: 16px 20px;
  list-style: none;
  padding: 20px 19px;
  align-items: center
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;
  transition: color 250ms ease-in-out;
}

.card-title:hover,
.card-title:focus-visible {
  color: #756157;
}

.card-title:active {
  color: rgba(117, 97, 87, 0.3);
}

.card-link {
  text-decoration: none;
  width: max-content;
  color: inherit;
  grid-area: 2/1/3/-1;
}

.card-image {
  display: block;
}

.card-image-link {
  grid-area: 1/1/2/3;
  transition: opacity 250ms ease-in-out;
}

.card-image-link:hover {
  opacity: 0.8;
}

.card-housing {
  grid-column: 1/2;
}

.card-price {
  grid-column: 2/3;
  justify-self: end;
}

.card-more-link {
  padding: 8px 26px;
  display: block;
  grid-column: 1/2;
}

.favorite-button {
  background-color: #82b3d3;
  padding: 8px 18px;
  grid-column: 2/3;
}

.favorite-button-pressed {
  background-color: #7db54f;
  padding: 8px 18px;
  grid-column: 2/3;
}

.favorite-button:hover,
.favorite-button:focus-visible {
  background-color: #68a2ca;
}

.favorite-button:active {
  color: #82b3d3;
}

.favorite-button-pressed:hover,
.favorite-button-pressed:focus-visible {
  background-color: #6c9e42;
}

.favorite-button-pressed:active {
  color: #7db54f;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  text-transform: uppercase;
  border-radius: 4px;
}

.rating-stars::before {
  content: "";
  height: 17px;
  display: block;
  background-image: url("../images/raiting-star.svg");
  background-repeat: space;
  background-size: contain;
}

.two-rating-stars::before {
  width: 42px;
}

.three-rating-stars::before {
  width: 66px;
}

.four-rating-stars::before {
  width: 89px;
}

.five-rating-stars::before {
  width: 107px;
}

/* пагинация */
.catalog-results-pagination::before {
  content: "";
  width: 1060px;
  height: 1px;
  background-color: #e6e6e6;
  display: block;
  position: absolute;
  bottom: 100px;
}

.catalog-results-pagination {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.pagination-link {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  display: block;
  padding: 12px 18px;
  min-width: 60px;
  height: 60px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  cursor: auto;
  font-size: 20px;
  line-height: 36px;
  display: block;
  padding: 12px 18px;
  min-width: 60px;
  height: 60px;
}

.pagination-link-more {
  background: none;
  color: #000000;
  display: block;
  padding: 12px 18px;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
}

.pagination-link:hover,
.pagination-link:focus-visible {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: #82b3d3;
}
